html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.bg-white-grey {
  background: #00000005;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-highlight {
  display: inline-block;
  border-bottom: 18px solid #ffd17f;
  line-height: 4px;
  padding: 0 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Rose", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

button {
  font-family: "Red Rose", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

button.font-normal {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.text-redrose {
  font-family: "Red Rose", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 0 2rem;
}

.main {
  padding: 2rem 0;

  --tw-bg-opacity: 1;

  background-color: rgba(255 255 255 / var(--tw-bg-opacity));
}

.tab-filter button {
  border: 1px solid #0000001f;
}

.tab-filter .active {
  border: none;
}

.dtable a {
  color: #6366f1;
}

.dtable [data-tag="allowRowEvents"] {
  @apply !truncate;

  width: 100%;
}

.dtable .vote-badge {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
}

.top-border {
  border-top: 1px #0000001f solid;
}

.rdt_Pagination {
  border: 0 !important;
}

.rdt_ExpanderRow {
  z-index: 1;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  width: auto !important;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: -15px 12px 0;
}

.link-list a {
  color: #5f75ee;
}

[data-column-id="colRank"] {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
}

[data-column-id="colLdVotes"] {
  width: 140px !important;
  min-width: 140px !important;
  max-width: 140px !important;
}

[data-column-id="colSubmittedBy"] {
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
}

[data-column-id="colSdVotes"] {
  display: none !important;
}

@media only screen and (max-width: 960px) {
  [data-column-id="colSdVotes"] {
    display: flex !important;
  }

  [data-column-id="colLdVotes"] {
    display: none !important;
  }
}

@media only screen and (max-width: 640px) {
  [data-column-id="colRank"] {
    width: 60px !important;
    min-width: 60px !important;
    max-width: 60px !important;
  }

  [data-column-id="colSdVotes"] {
    width: 120px !important;
    min-width: 120px !important;
    max-width: 120px !important;
  }

  [data-column-id="colName"] {
    max-width: 180px !important;
  }

  .rdt_TableHeadRow,
  .rdt_TableRow {
    width: 92% !important;
    margin-left: 4% !important;
    margin-right: 0 !important;
  }

  .rdt_ExpanderRow {
    margin: -15px 15px 0;
  }

  .text-highlight {
    border-bottom: 10px solid #ffd17f;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
